<header
  class="header h-20 p-3 bg-gradient-to-r from-red-800 via-gray-400 to-blue-900 z-50 sticky top-0 w-full"
>
  <img
    class="logo-img"
    routerLink="/pokemon-catalogue"
    src="/assets/img/pokemon logo.png"
    alt="image-logo"
  />
  <a
    routerLink="/pokemon-catalogue"
    class="inline-block font-bold text-5xl px-10 custom-text"
    >Pokémon Trainer App</a
  >
  <ng-container *ngIf="user !== undefined">
    <a class="span-text font-bold text-3xl px-10" routerLink="/profile ">{{
      user.username
    }}</a>
    <img
      class="profile-img"
      routerLink="/profile"
      src="/assets/img/profile icon.png"
      alt="profile-logo"
    />
  </ng-container>
</header>
