<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <label for="username" class="block">Username</label>
        <input type="text"
            ngModel
            #username="ngModel"
            name="username" id="username"
            class="border border-slate-300 p-2 rounded w-full" 
            placeholder="Trainer Name">
    </fieldset>

    <button type="submit" *ngIf="!loading"class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-full">Login</button>
    <button type="submit" *ngIf="loading"class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-full" disabled>Logging in</button>
    

</form>